$blue: #00366e;
$widthContainer: 800px;

@font-face{
	font-family: 'Unibody8';
	src: url('Unibody8Pro-Bold.otf');
}

body{
	background: linear-gradient(to bottom, white, #e8d5d9);
	display: grid;
	grid-template-columns: 1fr 800px 1fr;
	grid-template-rows: 150px 350px 1fr 200px;
	grid-template-areas: ". title ."
						 ". intro ."
						 ". form ."
						 ". resultat .";
}


form{
	color: $blue;
	grid-area: form;
}

#resultat{
	grid-area: resultat;
}

h1{
	color: $blue;
	text-align: center;
	font-family: 'Unibody8';
	grid-area: title;
}

.intro{
	color: $blue;
	font-size: 1.2em;
	text-align: justify;
	grid-area: intro;
}

label{
	width: 700px;
}

input[type='range']{
	width: 200px;
	display: inline;
	vertical-align: bottom;
}

output{
	display: inline;
}